:root {
  --color1: #9356dc; /*purple*/
  --color2: #ff79da; /*pink*/
  --color3: #99e2d0; /*light green*/

  --color_light_purple: #f5edff;
  --color_location_text: #353535; /*dark grey*/ 
  --color_location_background: #eaeaea; /*grey*/
  --color_cta_background: #f6f6f6; /*light grey*/
  --color_restaurants_background : #f6f6f6; /*light grey*/
  --color_footer: #353535; /*dark grey*/

  --color_menu_background: #f6f6f6; /*light grey*/

}
