.footer {
  background-color: var(--color_footer);
  color: white;
  padding: 1.5rem calc(20px + (max( (100% - 1440px) * (-1), (100% - 1440px) ) + (100% - 1440px)) / 2 / 2);

  &__logo {
    display: inline-block;
    font-family: 'Shrikhand';
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  &_list {
    list-style: none;
  }

  &_listElement {

    &_link {
      text-decoration: none;
      padding-left: 0rem;
      color: white;
      line-height: 1.5rem;

      &:hover {
        --text-decoration: none;
      }


      &::before {
        display: inline-block;
        width: 1.75rem;
        font-family: "Fontawesome-solid";
        vertical-align: baseline;
      }

    }

    &:nth-child(1) {
      .footer_listElement_link {
        &::before {
          content: "\f2e7";
        }

      }
    }

    &:nth-child(2) {
      .footer_listElement_link {
        &::before {
          content: "\f4c4";
        }

      }
    }

  }

}


