:root {
  --color1: #9356dc; /*purple*/
  --color2: #ff79da; /*pink*/
  --color3: #99e2d0; /*light green*/

  --color_light_purple: #f5edff;
  --color_location_text: #353535; /*dark grey*/ 
  --color_location_background: #eaeaea; /*grey*/
  --color_cta_background: #f6f6f6; /*light grey*/
  --color_restaurants_background : #f6f6f6; /*light grey*/
  --color_footer: #353535; /*dark grey*/

  --color_menu_background: #f6f6f6; /*light grey*/


}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Fontawesome-solid';
  src: url('../fonts/Fontawesome/fa-solid-900.ttf');
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/Fontawesome/fa-regular-400.ttf');
}


@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
}

.header {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
  position: relative;
  line-height: 3.9375rem;
  text-align: center;
}

.header__back {
  text-decoration: none;
  color: black;

  position: absolute;
  top: 50%;
  left: 0px;
  margin-left: 2rem;
  transform: translateY(-50%);

}

.header__back::before {
  font-family: Fontawesome-solid;
  content: "\f060";
  font-size: 1.2rem;
}

.header__logo {
  font-family: 'Shrikhand';
  font-size: 2rem;
}


.hero {
		--max-width: 100%;
    max-height: 32rem;
    width: 100%;
    object-fit: cover;
}

.menu {
	position: relative;
	z-index: 1;
	margin-top: -4rem;
	margin-left: auto;
	margin-right: auto;

	padding-top: 2rem;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 8rem;
	
	max-width: 1400px;

	border-radius: 2rem 2rem 0 0;

	background-color: var(--color_menu_background);
}

.menu__header {
	display: flex;
	justify-content: space-between;
  align-items: baseline;
}

.menu__title {
	font-family: 'Shrikhand';
	font-size: 1.5rem;
  margin-bottom: 1rem;
}

/*.menu__btn::before {
	display: inline-block;
	font-size: 2rem;
	font-family: "Fontawesome";
	content: "\f004";
}

*/

.menu__btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.menu__btn:hover::after {
  opacity: 1;
}

.menu__btn:hover::before {
  opacity: 0;
}

/*.card__btn::before {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Fontawesome";
  background-color: white;
  content: "\f004";
  color: black;
  mix-blend-mode: lighten;
  
}

Fontawesome-solid
*/
/*mix-blend-mode: lighten;  specifies how an element's content should blend with its direct parent background*/

.menu__btn::before {
  transition: .5s;
  opacity: 1;
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: "Fontawesome";
  content: "\f004";
}

.menu__btn::after {
  transition: .5s;
  opacity: 0;
  position: absolute;

  display: inline-block;
  font-size: 2rem;
  font-family: "Fontawesome-solid";

  content: "\f004";

  background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}










.submenus {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;

}


.submenu {
	flex-grow: 1;
	/*flex-shrink: 1;*/
	--x: calc(950px - 100%); /* 950 = 290 * 3 + 40 * 2 */
	--p_1_0: calc(min((max(var(--x) * (-1), var(--x)) + var(--x)) / 2 * 10, 1px));
	--n_1_0: calc(min((max(var(--x) * (-1), var(--x)) - var(--x)) / 2 * 10, 1px));
	--0_1_0: calc(min(max(var(--x) * (-1), var(--x)) * 10, 1px) * (-1) + 1px);
	width: calc(var(--p_1_0) * 950 + var(--n_1_0) * 1 + var(--0_1_0) * 1);
	max-width: 100%;
}

.submenu__title {
	position: relative;
	text-transform: uppercase;
	padding-bottom: 0.5rem;
    font-weight: 400;
	margin-bottom: 2rem;
}

.submenu__title::after {
    content: "";
    width: 3rem;
    height: 0.25rem;
    background-color: #99e2d0;
    position: absolute;
    left: 0;
    bottom: 0;
}


/* {
  animation-delay: 1s;
}

.dish:nth-child(3) {
  animation-delay: 2s;
}*/




.dish {
	display: flex;
	justify-content: space-between;

	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.75rem;
	background-color: white;

	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;

	box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);

  opacity: 0;
  animation: dish_fadeinup 0.7s forwards ease-out;
}

.dish:nth-child(3) {
  --animation: dish_fadeinup 0.7s forwards ease-out;
  animation-delay: 0.3s;
}

.dish:nth-child(4) {
  --animation: dish_fadeinup 0.7s forwards ease-out;
  animation-delay: 0.6s;
}

.dish:nth-child(5) {
  --animation: dish_fadeinup 0.7s forwards ease-out;
  animation-delay: 0.9s;
}

@keyframes dish_fadeinup {
  0% {
      transform: translateY(1rem);
      opacity: 0;
  }
  50% {
      opacity: 0.5;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}




.dish__container {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
  flex-grow: 1;
}

.dish__title {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dish__description {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.dish__price {
	align-self: flex-end;
  flex-grow: 0;
  font-weight: bold;
}

.dish:hover .dish__check {
  margin-right: -1rem;
}

.dish__check {
    flex-shrink: 0;
    background-color: var(--color3);
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;



/*  height: 1rem;
  width: 1rem;*/

}

.dish__check::before {
  /*display: inline-block;*/
  display: flex;
  justify-content: center;
  align-items: center;

  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  border-radius: 100%;
  /*content: url(../images/icons/check-solid-red.svg);*/
  font-family: "Fontawesome-solid";
  color: var(--color3);
  content: "\f00c";



  transform: rotate(-360deg);
  transition-duration: .5s;

}

.dish:hover .dish__check::before {
    transform: rotate(0);
}







.order__btn {
  text-decoration: none;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(350deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  border-radius: 1.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;

  position: absolute;
  right: 50%;
  transform: translate(50%,2rem);
}

.order__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}



.footer {
  background-color: var(--color_footer);
  color: white;
  padding: 1.5rem calc(20px + (max( (100% - 1440px) * (-1), (100% - 1440px) ) + (100% - 1440px)) / 2 / 2);

}

.footer__logo {
  display: inline-block;
  font-family: 'Shrikhand';
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


.footer_list {
  list-style: none;
}

.footer_listElement {

}

.footer_listElement_link {
  text-decoration: none;
  padding-left: 0rem;
  color: white;
  line-height: 1.5rem;
}

.footer_listElement_link:hover {
  --text-decoration: none;
}


.footer_listElement .footer_listElement_link::before {
  display: inline-block;
  width: 1.75rem;
  font-family: "Fontawesome-solid";
  vertical-align: baseline;
}

.footer_listElement:nth-child(1) .footer_listElement_link::before {
  content: "\f2e7";
}

.footer_listElement:nth-child(2) .footer_listElement_link::before {
  content: "\f4c4";
}



