
:root {
  --color1: #9356dc; /*purple*/
  --color2: #ff79da; /*pink*/
  --color3: #99e2d0; /*light green*/

  --color_light_purple: #f5edff;
  --color_location_text: #353535; /*dark grey*/ 
  --color_location_background: #eaeaea; /*grey*/
  --color_cta_background: #f6f6f6; /*light grey*/
  --color_restaurants_background : #f6f6f6; /*light grey*/
  --color_footer: #353535; /*dark grey*/

  --color_menu_background: #f6f6f6; /*light grey*/

}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Fontawesome-solid';
  src: url('../fonts/Fontawesome/fa-solid-900.ttf');
}

@font-face {
  font-family: 'Fontawesome';
  src: url('../fonts/Fontawesome/fa-regular-400.ttf');
}


@font-face {
  font-family: 'Shrikhand';
  src: url('../fonts/Shrikhand/Shrikhand-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
}

.header {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.40);
  position: relative;
  line-height: 3.9375rem;
  text-align: center;
}

.header__logo {
  font-family: 'Shrikhand';
  font-size: 2rem;
}


.location {
  background-color: var(--color_location_background);
  line-height: 3.9375rem;
  text-align: center;
}

.location__text {
  color: var(--color_location_text);
  font-size: 1rem;
  font-weight: 700;
}

.location__text::before {
  font-family: "Fontawesome-solid";
  content: "\f3c5";
  vertical-align: baseline;
  padding-right: .8rem;
}

.cta {
  background-color: var(--color_cta_background);
  padding: 2.6875rem 2rem 3.5625rem 2rem;
  text-align: center;
}

.cta__title {
  margin-bottom: .75rem;
}

.cta__subtitle {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: 300;
}

.cta__btn {
  text-decoration: none;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(350deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
  transition-duration: .25s;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
  border-radius: 1.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
}

.cta__btn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
}

.howto {
  max-width: 1400px;
  margin: 3rem auto 0 auto;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 4.25rem;
}

.howto__title {
  margin: 0rem 0rem 1.625rem 0rem;
}

.howto__steps {
  /*ol*/

  
  --display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  counter-reset: listCounter;
  list-style: none;
}


.howto__step {
  /*li*/
  flex-grow: 1;

  counter-increment: listCounter 1;
  line-height: 2rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgb(0 0 0 / 13%);
  margin-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  --x: calc(842px - 100%);
  --p_1_0: calc(min((max(var(--x) * (-1), var(--x)) + var(--x)) / 2 * 10, 1px));
  --n_1_0: calc(min((max(var(--x) * (-1), var(--x)) - var(--x)) / 2 * 10, 1px));
  --0_1_0: calc(min(max(var(--x) * (-1), var(--x)) * 10, 1px) * (-1) + 1px);
  width: calc(var(--p_1_0) * 842 + var(--n_1_0) * 250 + var(--0_1_0) * 250);

  white-space: nowrap;

  border-radius: 1.25rem;
  cursor: pointer;
}

.howto__step::before {
  /*flex-shrink: 0;*/

  content: counter(listCounter);
  border-radius: 100%;
  position: relative;
  left: -1rem;
  height: 2rem;
  width: 2rem;
  background-color: var(--color1);
  color: white;


  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.howto__step:hover {
    transition: 0.3s;
    background-color: var(--color_light_purple);
}

.howto__step:hover .libelle::before {
    transition: 0.3s;
    color: var(--color1);
}

.howto__step .libelle {
  position: relative;
  font-size: 1rem;
  font-family: 'Roboto';
  font-weight: bold;

  
}

.howto__step .libelle .text {
  display: inline-block;
  width: calc(100% - 6rem);
  white-space: normal;
  display: inline-table;
  /*permet baseline sur la premiere ligne de box*/

}

.howto__step .libelle::before {
  font-family: 'Fontawesome-solid';
  font-size: 19px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: grey;
  margin-right: 1rem;

}

.howto__steps .howto__step:nth-child(1) .libelle::before {
  content: '\f3cd';
}

.howto__steps .howto__step:nth-child(2) .libelle::before {
  content: '\f0ca';
}

.howto__steps .howto__step:nth-child(3) .libelle::before {
  content: '\f54e';
}



.restaurants {
  /*max-width: 1400px /*
  /*min padding left right : 20px */

  padding: 3.3125rem calc(20px + (max( (100% - 1440px) * (-1), (100% - 1440px) ) + (100% - 1440px)) / 2 / 2);
  background-color: var(--color_restaurants_background);
}

.restaurants__title {
  margin: 0rem 0rem 1.625rem 0rem;
}

.restaurants__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  font-size: 0px;
 
}

.card {
  flex-grow: 1;
  flex-shrink: 1;

  display: block;
  position: relative;

  background-color: white;
  text-decoration: none;
  color: black;
  border-radius: 1rem;

  width: calc((100% - 40px) / 2);  /*il ne pourra y avoir que 2 items maximum par row  */
  /*on peut pas mettre une valeur en dure. Si trop grande, il pourrait n'y avoir que 1 item, alors que nous en voulons 2. Si trop petite, alors, trop d'items (>2) se placeraient sur la ligne */
  min-width: min(400px, 100%); /*force le passage à la ligne suivante*/ 






}

.card img {
  width: 100%;
  height: 174px;
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;

}

.card__label {
  background-color: #99e2d0;
  color: #008766;
  padding: 0.5rem;
  border-radius: 0.125rem;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.card__footer {
  display: flex;
  padding-left: 0.875rem;
  padding-right: 1.5rem;
  justify-content: space-between;
}

.card__title {
  font-size: 1.1rem;

  margin-top: 1rem;
  margin-bottom: 0.1875rem;
}

.card__location {
  font-size: 1rem;

  margin-bottom: 1rem;
}

.card__btn {
  position: relative;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}

.card__btn:hover::after {
  opacity: 1;
}

.card__btn:hover::before {
  opacity: 0;
}

/*.card__btn::before {
  display: inline-block;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "Fontawesome";
  background-color: white;
  content: "\f004";
  color: black;
  mix-blend-mode: lighten;
  
}

Fontawesome-solid
*/
/*mix-blend-mode: lighten;  specifies how an element's content should blend with its direct parent background*/

.card__btn::before {
  transition: .5s;
  opacity: 1;
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  font-family: "Fontawesome";
  content: "\f004";
}

.card__btn::after {
  transition: .5s;
  opacity: 0;
  position: absolute;

  display: inline-block;
  font-size: 2rem;
  font-family: "Fontawesome-solid";

  content: "\f004";

  background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.footer {
  background-color: var(--color_footer);
  color: white;
  padding: 1.5rem calc(20px + (max( (100% - 1440px) * (-1), (100% - 1440px) ) + (100% - 1440px)) / 2 / 2);

}

.footer__logo {
  display: inline-block;
  font-family: 'Shrikhand';
  font-size: 1.2rem;
  margin-bottom: 1rem;
}


.footer_list {
  list-style: none;
}

.footer_listElement {

}

.footer_listElement_link {
  text-decoration: none;
  padding-left: 0rem;
  color: white;
  line-height: 1.5rem;
}

.footer_listElement_link:hover {
  --text-decoration: none;
}


.footer_listElement .footer_listElement_link::before {
  display: inline-block;
  width: 1.75rem;
  font-family: "Fontawesome-solid";
  vertical-align: baseline;
}

.footer_listElement:nth-child(1) .footer_listElement_link::before {
  content: "\f2e7";
}

.footer_listElement:nth-child(2) .footer_listElement_link::before {
  content: "\f4c4";
}






.loader-layout {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    opacity: 0.9;

    animation: loader-layout .01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 1000;

}

@keyframes loader-layout {
  100% {
      opacity: 0;
      z-index: -10;
  }
}

    


.loader-balls span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--color1);
  margin: 35px 5px;
}

.loader-balls span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

.loader-balls span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

.loader-balls span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(-20px);
  }
}










